<main class="draft-wrapper">
	<input
		class="form-control draft-input"
		type="text"
		placeholder="To: someone@example.com"
	>
	<input
		class="form-control draft-input"
		type="text"
		placeholder="bcc: someone.else@example.com"
	>
	<input
		class="form-control draft-input"
		type="text"
		placeholder="Subject"
	>

	<textarea
		class="message-draft"
		cols="30"
		rows="10"
	>
	</textarea>

	<button class="btn btn-primary send-button">Send</button>

	<div class="message-preview">
		<h3>Preview</h3>
		<p>
			
		</p>
	</div>
</main>