<main class="inbox-wrapper">
	<div class="mail-list-wrapper">
		<ul class="mail-list">
			<li
				ng-click="selectMessage( message )"
				ng-repeat="message in mail"
				class="message"
			>
				<h4>{{ message.content.slice( 0, 15 ) }}</h4>
				<p>{{ message.name }}</p>
			</li>
		</ul>
	</div>

	<div class="selected-message">
		<div ng-if="selectedMessage">
			<h3>{{ selectedMessage.email }}</h3>
			<h3>{{ selectedMessage.name }}</h3>
			<p>{{ selectedMessage.content }}</p>
		</div>
	</div>
</main>